global_defs {
  default_interface {{ KEEPALIVED_INTERFACE }}
}

vrrp_instance VI_1 {
  interface {{ KEEPALIVED_INTERFACE }}

  track_interface {
    {{ KEEPALIVED_INTERFACE }}
  }

  state BACKUP
  virtual_router_id 51

  priority {{ KEEPALIVED_PRIORITY }}
  nopreempt

  garp_master_repeat 0
  garp_lower_priority_repeat 0
  garp_master_refresh 0
  garp_master_refresh_repeat 0

  unicast_peer {
    {{- $keepalived_confd_kubernetes_node_name := getenv "KEEPALIVED_CONFD_KUBERNETES_NODE_NAME"}}
    {{- $keepalived_confd_kubernetes_node_label_key := getenv "KEEPALIVED_CONFD_KUBERNETES_NODE_LABEL_KEY"}}
    {{- $keepalived_confd_kubernetes_node_label_value := getenv "KEEPALIVED_CONFD_KUBERNETES_NODE_LABEL_VALUE"}}
    {{- if exists "/registry/minions"}}
      {{- range $nodeKey := ls "/registry/minions" }}
        {{- $nodeRawData := getv (printf "/registry/minions/%s" $nodeKey)}}
        {{- $nodeData := json $nodeRawData}}
        {{- if ne (toLower $keepalived_confd_kubernetes_node_name) (toLower $nodeData.metadata.name)}}
          {{- range $labelKey, $labelValue:= $nodeData.metadata.labels}}
            {{- if eq $keepalived_confd_kubernetes_node_label_key $labelKey}}
              {{- if eq $keepalived_confd_kubernetes_node_label_value $labelValue}}
                {{- range $addresse := $nodeData.status.addresses }}
                  {{- if eq (toLower "InternalIP") (toLower $addresse.type)}}
                    {{ $addresse.address}}
                  {{- end}}
                {{- end}}
              {{- end}}
            {{- end}}
          {{- end}}
        {{- end}}
      {{- end}}
    {{- end}}
  }

  virtual_ipaddress {
    {{ KEEPALIVED_VIRTUAL_IPS }}
  }

  authentication {
    auth_type PASS
    auth_pass {{ KEEPALIVED_PASSWORD }}
  }

  {{ KEEPALIVED_NOTIFY }}
}
